.next {font-size: 10px;
font-family:'Avenir';
text-align: right;
margin-right:30%;
position: relative;
}
    
h1 {font-family: 'Arimo Regular', 'Avenir';
font-size: 35px;
text-align: center
}

.title {text-align: center;
margin-bottom: 0px;
}

h2 {font-family: 'Arimo Regular', 'Avenir';
    font-size: 14px;
}

#byline {text-align:center;
margin-top: 0px;
margin-bottom: 0px;
}

table {
    text-align: left;
    border-collapse: collapse;
}

.center {
    margin-left:auto; 
    margin-right:auto;
  }

.stanza{
    font-family: 'Arimo Regular', 'Avenir';
    font-size: 13px;
    color: rgb(0,0,0);
    border-collapse: collapse;
    border-right-style: solid;
    padding-right: 20px;
}

.bigPunch {
    font-family: 'Merriweather';
    font-size: 40px;
    text-align: center;
    padding-left: 55px;
    
}
