.next {font-size: 10px;
font-family:'Avenir';
text-align: right;
margin-right:30%;
position: relative;
}
    
h1 {font-family: 'Open Sans', 'Raleway',sans-serif;
font-size: 250%;
text-align: center;
margin-bottom:5px;
}

h2 {font-family: 'Open Sans','Raleway',sans-serif;
    font-size: 12pt;
}

#byline {text-align:center;
margin-top: 0px;
margin-bottom: 0px;
}

table {
    text-align: left;
    border-collapse: collapse;
    font-family: "Open Sans";
}

.center {
    margin-left:auto; 
    margin-right:auto;
  }

.stanza {
    font-family: 'Open Sans','Raleway',sans-serif;
    text-align: center;
    position: relative;
}

#cell1 {
    font-size: 12pt;
    
     
}

#cell2 {
  
    transform: rotate(2deg);
}

#cell3 {
 
    transform: rotate(4deg);
}

#cell4 {
    
    transform: rotate(-4deg);
}

#cell5 {
   
    transform: rotate(-2deg);
}

/*#cell6 {
  transform: rotate(-1deg);
}*/

#cell7 {
     transform: rotate(2deg); 
}

#cell8 {
   transform: rotate(4deg);
}

#cell9 {
    transform: rotate(-4deg);
}

/*#cell10 {
  
    transform: rotate(-2deg);
}*/