body{
    max-width: 1000px;
    margin: 0px auto;
    font-family: 'News Gothic Std', "Helvetica Neue", Helvetica, Arial, sans-serif;
    fill: none
}

.xaxis {
    font-family: Inconsolata, monospace;
}

path.domain {
    stroke: none;
}

g > text {
    fill: steelblue;
}

line {
    stroke: none;
}

h1 {
    text-align: left;
}

.bar_tip {
    fill: steelblue;
    font-family: Inconsolata, monospace;
    visibility: hidden;
    text-anchor: end;
    font-size: 1rem;
    alignment-baseline: hanging;
}

#graph_clusters_tip {
    font-size: 1.5rem;
    color: steelblue;
    font-family: Inconsolata, monospace;
    alignment-baseline: hanging;
    text-align: left;
}

.pack_tip {
    font-size: 1rem;
    color: steelblue;
    font-family: Inconsolata, monospace;
    alignment-baseline: hanging;
    text-align: left;
    word-break: normal;
    min-height: 300px;
}

.type-it {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 3.5rem;
    /*padding: 0 2rem;*/
}


#container{
    position: relative;
    text-align: justify;
}

#sections{
    width: 50%;
    padding-right:15px;
}

#sections > div{
    background: white;
    opacity: .2;
    margin-bottom: 200px;
}
#sections > div:last-child{
    margin-bottom: 30px;
}
#sections > div.graph-scroll-active{
    opacity: 1;
}

#graph{
    margin-left: 40px;
    padding-left: 15px;
    width: 50%;
    position: sticky;
    top: 20px;
    bottom: 20px;
    float: right;
}

@media (max-width: 925px)  {
    #graph{
        width: 100%;
        margin-left: 0px;
        float: none;
    }

    #sections{
        width: auto;
        position: relative;
        margin: 0px auto;
    }

    #sections div{
        background: rgba(255,255,255,.5);
        padding: 10px;
        border-top: 1px solid;
        border-bottom: 1px solid;
        margin-bottom: 80vh;
    }

    pre{
        overflow: hidden;
    }

    h1{
        margin: 10px;
    }
}


.mono{
    font-family: monospace;
}

svg{
    background-color: white;
}

circle {
    fill-opacity: 0;
}

.leaf0 {
    fill: steelblue;
    fill-opacity: 1;
}

.leaf {
    fill: steelblue;
    fill-opacity: 1;
}

.leaf2 {
    fill: steelblue;
    fill-opacity: 1;
}

.leaf3 {
    fill: steelblue;
    fill-opacity: 1;
}

.leaf4 {
    fill: steelblue;
    fill-opacity: 1;
}

.leaf5 {
    fill: steelblue;
    fill-opacity: 1;
}