body{
	margin: 0;
	font-family: Helvetica;
}

.container {

	display: flex;
	flex-direction: row;
}

.selector {
	padding-top: 10px;
	width: 225px;
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 20px;
	background-color: #000;
	height:100vh;
}


.buttons{
	/*float: left;*/
	display:inline-block;
	clear: both;
	color: gray;
	font-size: 14px;
}

label img {
	height: 50px;
}
label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
  opacity:.5;
}
label > input:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
  opacity:1;
}


ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    line-height: 30px;
    min-width: 250px;
    font-size: 26px;
    color: gray;
}

span#first {
	font-size: 14px;
} 


li:hover {
	color: #FFF;
	cursor: pointer;
}
li.selected {
	color:#FFF;

}

.score {
	color:gray;
	font-size: 14px;
}

.switch {
  margin-top: 5px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #8856a7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #8856a7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.viewer{
	padding-top: 10px;
	display: flex;
	flex-direction: column;
}

.top_navigation a {
	display: inline;
	text-decoration: none;
	color:#000;
	margin-right: 50px;
}

a:hover{
	border-bottom: 4px solid;
}


#hit {
      border-bottom: 4px solid;
}

	
#title {
	color:#FFF;
}
.pagetitle{
	font-size: 26px;
	font-weight: bold;
}
#subtitle {
	margin-top: 5px;
	font-size: 26px;
	/*margin-left: 20vw;*/
	color: #c8c8c8;
	line-height: 30px;

}
.vs {
	margin-top: 26px;
	font-size: 26px;
	width: 200px;
}
svg {
	width: 25vh;
	height: 25vh;
	margin: 5px;
}

.legend {
	display: flex;
	flex-direction: row;
	font-size: 14px;
	/*margin-top: 25px;*/
}
#score {
	margin-left: 50px;
	display: flex;

}
#scoreLegend {
	display: flex;
	flex-direction: column
}
#scoreLegend img {
	height:50px;

}
